@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans ", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.invisible-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 14px 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.page-header {
  color: #ffffff;
  background-color: #000000;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 20px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  /* outline: 2px solid rgb(255, 7, 90);
  outline-offset: -2px; */
}

.nav-link-login {
  padding-left: 44px;


}

.nav-user .nav-link {
  min-height: 70px;
  min-width: 56px;
}

.nav-link-login .nav-icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}



.nav-list:nth-child(1) .nav-element .nav-link:hover, .nav-list:nth-child(2) .nav-element:nth-child(3) .nav-link:hover {
  background: var(--basic-dark, #595959);
}

.nav-list .nav-element .nav-link:focus {
  outline: 2px solid var(--basic-light, #c2bebe);
  outline-offset: -5px;
}
.nav-icon {
  position: absolute;
  fill: #DBDBDB;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-list:nth-child(2) .nav-element:nth-child(1) .nav-link:hover, .nav-list:nth-child(2) .nav-element:nth-child(2) .nav-link:hover {
  background: var(--basic-dark, #595959);
  }
.nav-list:nth-child(2) .nav-element:nth-child(1) .nav-link svg:hover, .nav-list:nth-child(2) .nav-element:nth-child(2) .nav-link svg:hover {
  fill: #242424;
}



.nav-logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.main-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/index-bg-alt.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  padding-top: 64px;
  padding-bottom: 61px;
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 940px;
  padding: 0 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 550px;


  /* outline: 2px solid rgb(255, 238, 7);
    outline-offset: -2px; */
}

.nav-user {
  max-width: 290px;
  justify-content: flex-end;
  margin-left: auto;
}

.page-container {
  margin: 0px auto;
  width: 940px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.advantage {
  margin-bottom: 58px;
}

.advantage-list {
  display: flex;

  /* justify-content: space-between; */
  text-align: center;
  list-style-type: none;
}

.advantage-item {
  width: 277px;
}
.advantage-item:nth-child(1) {
  margin-right: 54.5px;
}
.advantage-item:last-child {
  margin-left: auto;
}

.advantage-title {
  margin-bottom: 56px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.index-colums {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 31px;
  background-color: #fbf7f4;
  color: #242424;
  background-image: url("../image/bg-noisy.png");
  /* outline: 2px solid rgb(132, 0, 255);
    outline-offset: -2px; */
}
.index-colums:last-child {
  margin-bottom: 0;
}

.services {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

.servises-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 28px;
}

.services-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  width: 390px;
  margin-bottom: 30px;
}

.services-item {
  list-style-type: none;
  margin-bottom: 22px;
}
.services-price {
  color: #af7842;
}


.button-black + .button-light {
  margin-left: 15px;  
}

.button-all {
  position: relative;
  padding-right: 44px;
}

.icon-show-all {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: auto;
  margin: auto 0;
}

.gallery {
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  width: 390px;
}

.gallery-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
}

.contacts {
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  width: 350px;
}

.contacts-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 24px;
}
.contacts-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #af7842;
}
.contacts-adress {
  margin-bottom: 22px;
  font-style: normal;
  font-family: "PT Sans ", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}

.contacts-adress-text {
  margin-bottom: 8px;
}

.contacts-number {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

.contacts-schedule {
  margin-bottom: 21px;
  font-family: "PT Sans ", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
}

.appointment {
  width: 430px;
}

.appointment-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 115px 74px 208px;
  gap: 19px 17px;
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.form-label {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.button-appointment {
  grid-column: 1 / -1;
  justify-self: start;
}

.field-group {
  display: flex;
  flex-direction: column;


}

.field-group label,
.field-group input {
  display: block;
}

.timerec {
  padding-bottom: 24px;

  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;

}

.appointment-form  .info {
  display: none;
}

.footer-container {
  display: flex;
  /* justify-content: space-between; */
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: url("../image/bg-noisy.png"), #242424;
}

.page-footer-contats {
  width: 210px;
  margin-right: 147px;
}

.page-footer-contats a {
  display: block;
}

.logo-page-footer {
  margin-bottom: 27px;
}

.subscription {
  display: flex;
  flex-direction: column;
  width: 279px;
}

.button-subscribe {
  background-image: url("/image/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: block;
  border: 0;
  padding: 0;
  width: 56px;
  height: 44px;
}
.about-text {
  margin-bottom: 4px;
}

.socialclub {
  max-width: 184px;
  margin-left: auto;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px; */
}

.page-footer-form {
  display: grid;
  grid-template-columns: auto 56px;
}

.page-footer-form p {
  display: flex;
  flex-direction: column;
}

.page-footer-form p input{
  height: 100%;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
 
}


.page-footer a {
  color: #ffffff;
}

.page-footer .link {
  color: #dbb590;
}

.page-footer-contacts-adress {
  font-style: normal;
}

.page-footer-contacts-adress p {
  font-size: 14px;

  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}


.page-footer-contacts-adress-phone {
  margin-bottom: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.page-footer-contacts-map {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.page-footer-title {
  text-align: center;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.page-footer-nav-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 56px 56px 56px;
  gap: 8px;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 44px; */

  /* outline: 2px solid rgb(238, 255, 0);
    outline-offset: -2px; */
}

.page-footer-nav-item {
  width: 56px;
  height: 44px;
  /* outline: 2px solid rgb(0, 255, 42);
    outline-offset: -2px; */
}
.page-footer-nav-item:nth-child(1) .button-social {
  background-color: #000000;
  background-image: url("/image/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  padding: 14px 20px;
}

.page-footer-nav-item:nth-child(2) .button-social {
  background-color: #000000;
  background-image: url("/image/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  padding: 14px 20px;
}

.page-footer-nav-item:nth-child(3) .button-social {
  background-color: #000000;
  background-image: url("/image/instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  padding: 14px 20px;
}

.inner-header {
  outline: 3px solid rgba(97, 3, 247, 0.5);
  outline-offset: -3px;
}

.inner-header-title {
    margin-bottom: 16px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.breadcrums {
  display: flex;
  margin-bottom: 32px;
  list-style-type: none;

  color: #242424;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-products {
  display: flex;
}

.catalog-right-column {
  width: 700px;
}

/* .bredcrums-item {

} */

.breadcrums-link {
    margin-right: 32px;
    color: inherit;
}
.breadcrums-link-current {
  color: #595959;
}

.main-inner {
  padding-top: 40px;
  background-color: #fbf7f4;
  color: #242424;
  background-image: url("../image/bg-noisy.png");
}

.catalog-filter-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.sorting-container {
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    color: #000000;
}

.sorting-container .button {
    height: 44px;
    width: 56px;
}

.sotring-type {
    border: 2px solid black;
    width: 260px;
    height: 44px;
    margin-right: auto;

}

.button-light {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}
.button-black {
  background-color: #000000;
  color: #ffffff;
}


.button-img-list {
    display: block;
    padding: 14px 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  list-style-type: none;
  margin-bottom: 24px;

}

.sorting-container, .product-card, .pagination-container {
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}

.product-card {
  display: flex;
  flex-direction: column;


  height: 401px;
  background-color: #ffffff;
  color: #000000;
  
}

.product-card-title-link {
  margin-bottom: 8px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.card-content {
  padding: 16px; 
  display: flex; 
  flex-direction: column; 
  flex-grow: 1;
}

.button-card {
  margin-top: auto;
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  color: #814b18;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}

.pagination-container {
    display: flex;
    padding: 16px;
    

    background-color: #ffffff;
    color: #000000;
}

.pagination {
    display: flex;
    margin-right: auto;
    list-style-type: none;
}

.pagination-link {
    display: block;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.pagination-prev {
    width: 56px;
    background: #595959;
    color: #ffffff;
}
.pagination-next {
    width: 56px;
}


.pag-current {
  color: #000000;
  background-color: #ffffff;
}


.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0px;
}