@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol, button {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans ", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.invisible-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 14px 20px;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}



.page-header {
  color: #ffffff;
  background-color: #000000;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 20px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  /* outline: 2px solid rgb(255, 7, 90);
  outline-offset: -2px; */
}

.nav-link-login {
  padding-left: 44px;
}

.nav-user .nav-link {
  min-height: 70px;
  min-width: 56px;
}

.nav-link:hover {
  background: var(--basic-dark, #595959);
}

.nav-link:hover .nav-icon {
  fill: #242424;
}
.button:focus-visible:hover, .slider-button:focus-visible:hover, .button-social:focus-visible:hover {
  outline: 2px solid var(--special-light, #DBB590);
  outline-offset: -2px;
}
.button-light:focus-visible:hover {
  outline: 2px solid var(--special-neutral, #AF7842);
  outline-offset: -2px;
}

.nav-logo:focus-visible, .nav-link:focus-visible, .button:focus-visible, .slider-button:focus-visible, .button-social:focus-visible {
  outline: 2px solid var(--basic-light, #E7E7E7);
  outline-offset: -2px;
}

.button-light:focus-visible {
  outline: 2px solid var(--basic-extra-dark, #242424);;
  outline-offset: -2px;
}


.nav-icon {
  position: absolute;
  fill: #DBDBDB;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-link-login .nav-icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.nav-element {
  position: relative;
}
.nav-link-current::before {
  content: "";
  position: absolute;
  height: 4px;
  width: auto;
  right: 20px;
  left: 20px;
  bottom: 0;
  background-color: #FFF;
}


.main-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/index-bg-alt.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  padding-top: 64px;
  padding-bottom: 61px;
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 940px;
  padding: 0 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 550px;


  /* outline: 2px solid rgb(255, 238, 7);
    outline-offset: -2px; */
}

.nav-user {
  max-width: 290px;
  justify-content: flex-end;
  margin-left: auto;
}

.page-container {
  margin: 0px auto;
  width: 940px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.advantage {
  margin-bottom: 58px;
}

.advantage-list {
  display: flex;

  /* justify-content: space-between; */
  text-align: center;
  list-style-type: none;
}

.advantage-item {
  width: 277px;
}
.advantage-item:nth-child(1) {
  margin-right: 54.5px;
}
.advantage-item:last-child {
  margin-left: auto;
}

.advantage-title {
  position: relative;
  margin-bottom: 56px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;

}

.advantage-title::before {
  left: 50%;
  top: 56px;
  margin-left: -9px;
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: white;
  transform: rotate(45deg);
  
}

.index-colums {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 31px;
  background-color: #fbf7f4;
  color: #242424;
  background-image: url("../image/bg-noisy.png");
  /* outline: 2px solid rgb(132, 0, 255);
    outline-offset: -2px; */
}
.index-colums:last-child {
  margin-bottom: 0;
}

.index-colums::after {
  content: "";
  position: absolute;
  bottom: 40px;
  top: 40px;
  width: 0;
  border-right: 1px dashed #595959;
}

.index-colums:first-of-type::after{
  left: 50%;
}

.index-colums:last-of-type::after{
  left: 431px;
}




.services {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

.servises-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 28px;
}

.services-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  width: 390px;
  margin-bottom: 30px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  margin-bottom: 22px;
}
.services-item::before {
  content: "";
  border-bottom-style: dotted;
  flex-grow: 1;
  order: 2;
  margin: 0 16px;
}

.services-price {
  order: 3;
  color: #af7842;
}




.button-black + .button-light {
  margin-left: 15px;  
}

.button-all {
  position: relative;
  padding-right: 44px;
}

.button:hover, .slider-button:hover, .pagination-link:hover, .card-grid-toggle:hover{
  background-color: #814B18;
}

.button-social:hover{
  background-color: #814B18 !important;
}

.button-light:hover, .pag-current:hover, .card-grid-toggle-current:hover{
  background-color: #DBB590;
  color: white;
}

.card-grid-toggle-current:hover svg{
  fill: white;
}
.pag-current:hover{
  color: #ffffff;
}


.icon-show-all {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: auto;
  margin: auto 0;
}

.gallery {
  
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  width: 390px;
}

.gallery-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
}

.contacts {
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  width: 350px;
}

.contacts-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 24px;
}
.contacts-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #af7842;
}
.contacts-adress {
  margin-bottom: 22px;
  font-style: normal;
  font-family: "PT Sans ", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}

.contacts-adress-text {
  margin-bottom: 8px;
}

.contacts-number {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

.contacts-schedule {
  margin-bottom: 21px;
  font-family: "PT Sans ", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
}

.appointment {
  width: 430px;
}

.appointment-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 115px 84px 198px;
  gap: 15px;
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.form-label {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../image/info.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.field {
  height: 44px;
  padding: 10px 16px;
  border: 2px solid var(--basic-extra-dark, #242424);
  background-color: var(--basic-white, #FFF);
  font: inherit;
  font-weight: 700;
}

.field:hover, .field:focus-visible {
  border: 2px solid var(--special-neutral, #AF7842);
}

.field:focus-visible {
  outline: 2px solid var(--special-light, #DBB590);
}

.field:disabled, .field:disabled:hover {
  border: 2px solid #595959;
  background-color: #E7E7E7;
  color: #595959;
}

.field:focus:invalid  {
  border: 2px solid #EA5454;
}

.field:invalid {
  box-shadow: none;
}

.field::placeholder {
  color: #DBDBDB;
  opacity: 1;
}


.button-appointment {
  grid-column: 1 / -1;
  justify-self: start;
}

.field-group {
  display: flex;
  flex-direction: column;
}


.slider-button {
  position: absolute;
  background-color: #000000;
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: block;
  border: 0;
  padding: 0;
  width: 48px;
  height: 60px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}


.slider-image {
  display: block;
}
.slider-container{
  position: relative;
}

.slider-next {
  background-image: url(../image/arrow-left.svg);
  transform: translateY(-50%) rotate(180deg);
  left: 342px;
}

.slider-prev {
  background-image: url(../image/arrow-left.svg);
}

.slider-pagination {
  display: grid;
  grid-template-columns: repeat(4, 8px);
  gap: 8px;
  justify-content: center;
  list-style-type: none;
}
.slider-button-pointer {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  background-color: #BDBDBD;
}

.slider-button-pointer:hover {
  background-color: #AF7842;
}

.slider-button-pointer:focus-visible {
  border: none;
  outline: none;
  background-color: #DBB590;
}

.slider-button-pointer-current {
  background-color: #242424;
}


.timerec {
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #242424;
  border-radius: 2px;
  margin-bottom: 16px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #AF7842;
}

.range-toogle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}

.toogle-min {
  top: -8px;
  left: -10px;
}

.toogle-min:hover, .toogle-max:hover {
  background-color: #DBB590;
}

.toogle-min:focus-visible, .toogle-max:focus-visible {
  outline: 2px solid #AF7842;
}

.toogle-max {
  top: -8px;
  right: -10px;
}
.range-wrapper-input {
  display: flex;
  justify-content: center;

}
.label-input {
  display: flex;
  margin-right: 5px;

}
.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  border: none;
  background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.catalog-filter-group:nth-child(2) .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  padding: 2px;
  left: 5px;
  top: 1px;
}

.control-mark:hover {
  border-color: #AF7842;
}

.control-input:disabled + .control-mark {
  border-color: #BDBDBD;
}

.control-input[type="checkbox"]:checked + .control-mark::before, .control-input[type="checkbox"]:checked + .control-mark::after  {
  position: absolute;
  top: 7px;
  left: 2px;
  content: "";
  width: 12px;
  height: 2px;
  background-color: black;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.catalog-filter-group:nth-child(3) .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
  left: 5px;
  top: 1px;
}

.control-input[type="radio"]:checked + .control-mark::before, .control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  content: "";
  width: 8px;
  height: 8px;
  background-color: black;
}

.select {
  display: flex;
  width: 260px;
}


.footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: url("../image/bg-noisy.png"), #242424;
}

.page-footer-contats {
  width: 210px;
  margin-right: 147px;
}

.page-footer-contats a {
  display: block;
}

.logo-page-footer {
  margin-bottom: 27px;
}

.subscription {
  display: flex;
  flex-direction: column;
  width: 279px;
}

.button-subscribe {
  background-image: url("../image/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: block;
  border: 0;
  padding: 0;
  width: 56px;
  height: 44px;
}
.about-text {
  margin-bottom: 4px;
}

.socialclub {
  max-width: 184px;
  margin-left: auto;
}

.page-footer-form {
  display: grid;
  grid-template-columns: auto 56px;
}

.page-footer-form p {
  display: flex;
  flex-direction: column;
}

.footer-field {
  height: 100%;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  z-index: 1;
}

.footer-field:hover, .footer-field:focus-visible {
  border: 2px solid var(--special-neutral, #AF7842);
}

.footer-field:focus-visible {
  outline: 2px solid var(--special-light, #DBB590);
}



.page-footer a {
  color: #ffffff;
}

.page-footer .link {
  color: #dbb590;
}

.page-footer-contacts-adress {
  font-style: normal;
}

.page-footer-contacts-adress p {
  font-size: 14px;

  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}


.page-footer-contacts-adress-phone {
  margin-bottom: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.page-footer-contacts-map {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.page-footer-title {
  text-align: center;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.page-footer-nav-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 56px 56px 56px;
  gap: 8px;
  margin-bottom: 36px;
}
.button-social-twitter {
  background-color: #000000;
  background-image: url("../image/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  
}

.button-social-vk {
  background-color: #000000;
  background-image: url("../image/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  padding: 14px 20px;
}

.button-social-insta {
  background-color: #000000;
  background-image: url("../image/instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
  height: 44px;
  display: block;
  padding: 14px 20px;
}

.hov:hover {
  background-color: var(--special-dark, #814B18);
}

.hov:focus-visible {
  outline: 2px solid var(--special-light, #DBB590);
}



.inner-header-title {
    margin-bottom: 16px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.breadcrums {
  position: relative;
  display: flex;
  margin-bottom: 32px;
  list-style-type: none;

  color: #242424;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-products {
  display: flex;
}

.catalog-right-column {
  width: 700px;
}

.bredcrums-item {
  margin-right: 32px;
}

.bredcrums-item:first-child::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #242424;
  transform: rotate(45deg);
  top: 50%;
  left: 63px;
  margin-top: -5px;
}

.breadcrums-link {
  color: inherit;
}
.breadcrums-link-current {
  color: #595959;
}

.main-inner {
  padding-top: 40px;
  background-color: #fbf7f4;
  color: #242424;
  background-image: url("../image/bg-noisy.png");
}

.catalog-filter-title {
  margin-bottom: 22px;
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.sorting-container {
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    color: #000000;
}

.sorting-container .button {
    height: 44px;
    width: 56px;
}

.sotring-type {
    margin-right: auto;
}

.select-control {
  flex-grow: 1;
  padding: 10px 16px;
  font: inherit;
  font-weight: 700;
  border: 2px solid black;
  appearance: none;
  background-image: url(../image/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.select-control:hover {
  border: 2px solid var(--special-light, #AF7842);
}

.select-control:focus-visible {
  border: 2px solid var(--special-light, #AF7842);
  outline: 2px solid #DBB590;
}



.button-light {
  background-color: #ffffff;
  color: #000000;
  
}
.button-black {
  background-color: #000000;
  color: #ffffff;
}


.button-img-list {
    display: block;
    padding: 14px 20px;
}
.card-grid-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 44px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
  
}

.card-grid-toggle-current{
  background-color: rgb(255, 255, 255);
}

.card-grid-toggle svg {
  fill: white;
}

.card-grid-toggle-current svg {
  fill: rgb(0, 0, 0);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  list-style-type: none;
  margin-bottom: 24px;

}

.sorting-container, .product-card, .pagination-container {
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}

.product-card {
  display: flex;
  flex-direction: column;


  height: 401px;
  background-color: #ffffff;
  color: #000000;
  
}

.product-card-title-link {
  margin-bottom: 8px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.card-content {
  padding: 16px; 
  display: flex; 
  flex-direction: column; 
  flex-grow: 1;
}

.button-card {
  margin-top: auto;
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  color: #814b18;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}

.pagination-container {
    display: flex;
    padding: 16px;
    

    background-color: #ffffff;
    color: #000000;
}

.pagination {
    display: flex;
    margin-right: auto;
    list-style-type: none;
}

.pagination-link {
    box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
    display: block;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.pagination-prev {
    background-image: url("../image/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
   
}

.pagination-next {
  background-image: url("../image/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
    width: 56px;
}


.pag-current {
  color: #000000;
  background-color: #ffffff;
  
}


.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0px;
}

.pag-disabled {
  background-color: #595959;
}
